<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['home']">
      <img src="../../../../assets/img/superhero.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Navbar
  </a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Heroes</a>        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
          <a class="dropdown-item" [routerLink]="['newhero']">Nuevo</a>
          <a class="dropdown-item" [routerLink]="['heroes']">Todos</a>          
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Heroe" aria-label="Search" (keyup.enter)="searchHero(searchText.value)" #searchText>
      <button (click)="searchHero(searchText.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
    </form>
  </div>
</nav>